<h1>Cadastro de Imóvel</h1>
<% if @property.errors.any? %>
  <ul>
    <% @property.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @property) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :rooms %>
    <%= f.number_field :rooms %>
  </div>
  <div>
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms %>
  </div>
  <div>
    <%= f.label :daily_rate %>
    <%= f.text_field :daily_rate %>
  </div>
  <div>
    <%= f.label :property_type_id %>
    <%= f.collection_select :property_type_id, PropertyType.all, :id, :name, prompt: 'Escolha um tipo' %>
  </div>
  <div>
    <%= f.label :property_location_id %>
    <%= f.collection_select :property_location_id, PropertyLocation.all, :id, :name, prompt: 'Escolha uma região' %>
  </div>
  <div>
    <%= f.check_box :pets %>
    <%= f.label :pets %>
  </div>
  <div>
    <%= f.check_box :parking_slot %>
    <%= f.label :parking_slot %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>